<div class="footer" id="footer">
	<div class="row">


		<div class="col col-m-4-of-4 center push-1-of-12" style="margin-right: 0px; padding-right: 0px">
			<img class="cursor-logo"  src="{{ "assets/images/bhom_pictogram_coral.svg" | relative_url }}">
		</div>

		<div class="col col-3-of-12 col-m-4-of-4 center">
			<h5 class="border-left">
				So, who owns my code?
			</h5>
			<p>
				We are all in it together. We are co-creators and our community co-owns the code. Want to understand more?<br>
				<a href="https://github.com/BHoM/BHoM/blob/master/COPYRIGHT_HEADER.txt">Read our copyright and licencing statement here.</a>
			</p>
			<p class="copyright s-hide">
				<br>
				Copyright © 2018-2019
			</p>
		</div>

		<div class="col col-3-of-12 col-m-4-of-4 center">
			<h5 class="border-left">
				Join in
			</h5>
			<p>
				This is a collective experiment which thrives on contibutions from a diverse community. Want to get involved?
				<a href="https://github.com/BHoM/BHoM/blob/master/CONTRIBUTING.md">Read our contributing guidelines.</a>
			</p>
			<p>
				<br>
				
				<a class="noborder" href="https://twitter.com/home?status=bhom.xyz"><span class="fab fa-twitter"></span></a>
				<a class="noborder" href="https://www.facebook.com/sharer/sharer.php?u=bhom.xyz"><span class="fab fa-facebook"></span></a>
				<a class="noborder" href="https://www.linkedin.com/shareArticle?mini=true&url=bhom.xyz&title=&summary=&source="><span class="fab fa-linkedin"></span></a>
			</p>
		</div>

		<div class="col col-2-of-12 col-m-4-of-4 center">
			<p style="margin-top: 0px;"><a class="noborder" href="https://bhom-workspace.slack.com/"><span class="fab fa-slack-hash"></span>Questions? Ask on Slack!</a></p>
			<p><a class="noborder" href="https://github.com/BHoM/samples"><span class="fas fa-vial"></span>Hack? Get samples!</a></p>
			<p><a class="noborder" href="https://github.com/BHoM/documentation/wiki"><span class="fab fa-wikipedia-w"></span>Read the Wiki!</a></p>
			<hr>
			<p><a class="noborder" href="https://github.com/BHoM"><span class="fas fa-terminal"></span>  Get code on Github</a></p>
			<p><a class="noborder" href="{{ "assets/installers/v2.1/BHoM Alpha v2.1.0.5 Installer.exe" | relative_url }}"><span class="fa fa-arrow-down"></span>  Download the installer</a></p>
			<p class="copyright s-and-lower">
				<br>
				Copyright © 2018-2019
			</p>
		</div>


	</div>

</div>