<div class="footer" id="footer">
	<div class="row">


		<div class="col col-m-4-of-4 center push-1-of-12" style="margin-right: 0px; padding-right: 0px">
			<img class="cursor-logo"  src="{{ "assets/images/bhom_pictogram_coral.svg" | relative_url }}">
		</div>

		<div class="col col-3-of-12 col-m-4-of-4 center">
			<h5 class="border-left">
				So, who owns my code?
			</h5>
			<p>
				We are all in it together. We are co-creators and our community co-owns the code. Want to understand more?<br>
				<a href="">Read our copyleft here.</a>
			</p>
			<p class="copyright s-hide">
				<br>
				Copyright © 2018-2019
			</p>
		</div>

		<div class="col col-3-of-12 col-m-4-of-4 center">
			<h5 class="border-left">
				Play nicely
			</h5>
			<p>
				We are all in it together. Sharing, creating, engaging in a collective experiment is a act of will and requires respect.
				<a href="">Our code of conduct.</a>
			</p>
			<p>
				<br>
				
				<a class="noborder" href="https://twitter.com/home?status=bhom.xyz"><span class="fab fa-twitter"></span></a>
				<a class="noborder" href="https://www.facebook.com/sharer/sharer.php?u=bhom.xyz"><span class="fab fa-facebook"></span></a>
				<a class="noborder" href="https://www.linkedin.com/shareArticle?mini=true&url=bhom.xyz&title=&summary=&source="><span class="fab fa-linkedin"></span></a>
			</p>
		</div>

		<div class="col col-2-of-12 col-m-4-of-4 center">
			<p style="margin-top: 0px;"><a class="noborder" href="To download the code_assistant"><span class="fab fa-slack-hash"></span>  Wanna speak? Slack!</a></p>
			<p><a class="noborder" href="To download the code_assistant"><span class="fas fa-vial"></span>  I want to see some samples!</a></p>
			<p><a class="noborder" href="To download the code_assistant"><span class="fas fa-wrench"></span>  Let's go technical here</a></p>
			<hr>
			<p><a class="noborder" href="To download the code_assistant"><span class="fas fa-terminal"></span>  View on Github</a></p>
			<p><a class="noborder" href="To download the code_assistant"><span class="fa fa-arrow-down"></span>  Download the installer</a></p>
			<p class="copyright s-only">
				<br>
				Copyright © 2018-2019
			</p>
		</div>


	</div>

</div>