<div class="footer" id="footer">
	<div class="row">


		<div class="col col-m-4-of-4 center push-1-of-12" style="margin-right: 0px; padding-right: 0px">
			<img class="cursor-logo"  src="{{ "assets/images/bhom_pictogram_coral.svg" | relative_url }}" alt="logo">
		</div>

		<div class="col col-3-of-12 col-m-4-of-4 center">
			<h5 class="border-left">
				So, who owns my code?
			</h5>
			<p>
				We are all in it together. We are co-creators and our community co-owns the code. Want to understand more?<br>
				<a href="https://github.com/BHoM/BHoM/blob/master/COPYRIGHT_HEADER.txt">Read our copyright and licencing statement here.</a>
			</p>
			<p class="copyright s-hide m-hide">
				<br>
				Copyright © 2018-2020
			</p>
		</div>

		<div class="col col-3-of-12 col-m-4-of-4 center">
			<h5 class="border-left">
				Join in
			</h5>
			<p>
				This is a collective experiment which thrives on contributions from a diverse community. Want to get involved?<br>
				<a href="https://github.com/BHoM/BHoM/blob/master/CONTRIBUTING.md">Read our contributing guidelines.</a>
			</p>
			<p>
				<br>
				
				<a class="twitter-share-button noborder" href="https://twitter.com/intent/tweet?url={{ site.url }}&text=The Buildings and Habitats Object Model: a collective code experiment&hashtags=bhom" data-size="large" aria-label="Twitter"><span class="fab fa-twitter"></span></a>
				<a class="noborder" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}" aria-label="Facebook"><span class="fab fa-facebook"></span></a>
				<a class="noborder" href="https://www.linkedin.com/shareArticle?mini=true&url=bhom.xyz&source=bhom.xyz" aria-label="Linkedin"><span class="fab fa-linkedin"></span></a>
			</p>
		</div>

		<div class="col col-2-of-12 col-m-4-of-4 center">
			<p style="margin-top: 0px;"><a class="noborder" href="https://join.slack.com/t/bhom/shared_invite/enQtNTQzNjkyNzIzMjM1LWY0NzdlMGEzMjQ2YTk3M2U2YTRlODZiMjZiN2E1MzY1YmRiYTJmNjA2ODkzYzBmNmM1NzY3Y2FkN2MzNGM4ZTI"><span class="fab fa-slack-hash"></span>Questions? Ask on Slack!</a></p>
			<p><a class="noborder" href="https://github.com/BHoM/samples/tree/release_2.2"><span class="fas fa-vial"></span>Hack? Get samples!</a></p>
			<p><a class="noborder" href="https://github.com/BHoM/documentation/wiki"><span class="fab fa-wikipedia-w"></span>Read the Wiki!</a></p>
			<hr>
			<p><a class="noborder" href="https://github.com/BHoM"><span class="fas fa-terminal"></span>  Get code on GitHub</a></p>
			<p><a class="noborder" href="{{ "installer" | relative_url }}"><span class="fa fa-arrow-down"></span>  Download the installer</a></p>
			<p class="copyright m-and-lower">
				<br>
				Copyright © 2018-2020
			</p>
		</div>


	</div>

</div>
