<head>
	<meta charset="utf-8"/>
	<meta http-equiv="x-ua-compatible" content="ie=edge"/>
	<meta http-equiv="content-language" content="en-gb"/>
	<meta name="mobile-web-app-capable" content="yes"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="theme-color" content="#FE224A"/>
	<meta name="Description" content="SUSTAINABLE CODE AT SCALE, The Buildings and Habitats object Model, A collaborative computational development project and collective experiment. By sharing and co-creating code we can better shape our environment and our future."/>
	<meta name="url" content="https://bhom.xyz"/>
	<meta name="keywords" content="bhom, code, github, open source, AEC, parametric, model, engineering, architecture, design, software, grasshopper, dynamo, excel, visual studio, experiment, computational, co-create, collective"/>
	<meta name="google-site-verification" content="7f7klHD59fiLVhhSYAd0IhmbBu3iK9CKfS0kXCStHek" />

	<meta property="og:url" content="https://bhom.xyz"/>
	<meta property="og:email" content="hello@bhom.xyz"/>
	<meta property="og:author" content="The BHoM open community"/>
	<meta property="og:title" content="The Buildings and Habitats Object Model"/>
	<meta property="og:description" content="A collaborative computational development project and collective experiment. 
	By sharing and co-creating code we can better shape our environment and our future."/>
	<meta property="og:image" content="{{ site.url | append:'/assets/images/bhom_pictogram_coral.png' }}"/>
	<meta property="og:image:type" content="image/png"/>
	<meta property="og:image:height" content="2600"/>
	<meta property="og:image:width" content="2600"/>

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="https://bhom.xyz">
	
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="icon" type="image/png" href="{{ "assets/images/icon192.png" | relative_url }}"/>

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="manifest" href="{{ "manifest.json" | relative_url }}">

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/waffle-grid/dist/waffle-grid.css">
	<link rel="stylesheet" type="text/css" href="{{ "assets/css/style.css" | relative_url }}">	
</head>
