<div class="section" id="how">
	<div class="row">
		<div class="col col-8-of-12 col-m-4-of-4 center">
			<h4>
				An inclusive computational environment
			</h4>
			<h3>
				Let's speak the same language
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col col-6-of-12 col-m-4-of-4 center">
			<img src="{{ "assets/images/BHoM Sketch-F03.png" | relative_url }}">
		</div>
	</div>
	<div class="row">
		<div class="col col-4-of-12 col-m-4-of-4 right">
			<p>
				
                We have transformed the way that we structure our code to better reflect the way humans think.
                <br>                
                <br>
                We have also designed the user interface to explicitly align with the code running behind it.
                
            </p>
		</div>
		<div class="col col-4-of-12 col-m-4-of-4 left">
			<p>
               
                This results in an environment approachable and familiar for both software developers and designers/architects/engineers.
                <br>
                <br>
                This also means our code is very honestly and transparently exposed to the user.
                <br>
			</p>
		</div>
	</div>
	<div class="row section center" style="margin-top: 0px; margin-bottom: 0px">
		<div class="col col-4-of-12 col-m-4-of-4 right">
			<h5>
				Visual <span class="nonewline"><img class="annotated" src="{{ "assets/images/scribbles/VisualStudio1.png" | relative_url }}">Studio</span>
			</h5>
			<img src="{{ "assets/images/menu-vs.gif" | relative_url }}">
		</div>
		<div class="col col-4-of-12 col-m-4-of-4 left">
			<h5>
				<span class="nonewline"><img class="annotated" style="margin-left: -.1em" src="{{ "assets/images/scribbles/Excel.png" | relative_url }}"></span>
				Excel
			</h5>
			<img src="{{ "assets/images/menu-excel.gif" | relative_url }}">
		</div>
	</div>
	<div class="row section center" style="margin-top: 0px; margin-bottom: 0px">
		<div class="col col-4-of-12 col-m-4-of-4 right">
			<h5>
				<span class="nonewline"><img class="annotated" style="margin-left: -1.5em" src="{{ "assets/images/scribbles/Grasshopper1.png" | relative_url }}"></span>
				Grasshopper
				<span class="nonewline"><img class="annotated" src="{{ "assets/images/scribbles/Grasshopper2.png" | relative_url }}"></span>

			</h5>
			<img src="{{ "assets/images/menu-gh.gif" | relative_url }}">
		</div>
		<div class="col col-4-of-12 col-m-4-of-4 left">
			<h5>
				<span class="nonewline"><img class="annotated" style="margin-left: -.5em" src="{{ "assets/images/scribbles/Dynamo1.png" | relative_url }}"></span>
				DynamoStudio
				<span class="nonewline"><img class="annotated" src="{{ "assets/images/scribbles/Dynamo2.png" | relative_url }}"></span>

			</h5>
			<img src="{{ "assets/images/menu-dyn.gif" | relative_url }}">
		</div>
	</div>
</div>
