<div class="section" id="how">
	<div class="row">
		<div class="col col-8-of-12 col-m-4-of-4 center">
			<h4>
				An inclusive computational environment
			</h4>
			<h3>
				Let's speak the same language
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col col-6-of-12 col-m-4-of-4 center">
			<img src="{{ "assets/images/BHoM Sketch-F03.png" | relative_url }}">
		</div>
	</div>
	<div class="row">
		<div class="col col-4-of-12 col-m-4-of-4 right">
			<p>
				By integrating a number of concepts from across existing computational tools and progamming languages, a new means of free and fluid communication, deeper and richer collaboration, is now possible. 
                <br>
                <br>
                Write code once in the BHoM and everyone had access through familar visual programming interfaces. 
                <br>
                <br>
                This allows the same coding, design, architecture and engineering terms to be applied across all platforms. With transparency and consistency. A common language.
            </p>
		</div>
		<div class="col col-4-of-12 col-m-4-of-4 left">
			<p>
                For the AEC industry this means a platform where the professional programmer through to enthusiastic computational designer, engineer, or architect can combine efforts in one common coding ecosystem.
                <br>
                <br>
                A modular structure and an open architecture built for co-creation.
                The bar to computational design is lowered.
                <br>
                <br>
                <br>
                <br>
                Interested in the technical details? <a href="https://github.com/BHoM/documentation/wiki/Technical-philosophy-of-the-BHoM">Read more in the Wiki!</a>
			</p>
		</div>
	</div>
	<div class="row section center" style="margin-top: 0px; margin-bottom: 0px">
		<div class="col col-4-of-12 col-m-4-of-4 right">
			<h5>
				Visual <span class="nonewline"><img class="annotated" src="{{ "assets/images/scribbles/VisualStudio1.png" | relative_url }}">Studio</span>
			</h5>
			<img src="{{ "assets/images/menu-vs.gif" | relative_url }}">
		</div>
		<div class="col col-4-of-12 col-m-4-of-4 left">
			<h5>
				<span class="nonewline"><img class="annotated" style="margin-left: -.1em" src="{{ "assets/images/scribbles/Excel.png" | relative_url }}"></span>
				Excel
			</h5>
			<img src="{{ "assets/images/menu-excel.gif" | relative_url }}">
		</div>
	</div>
	<div class="row section center" style="margin-top: 0px; margin-bottom: 0px">
		<div class="col col-4-of-12 col-m-4-of-4 right">
			<h5>
				<span class="nonewline"><img class="annotated" style="margin-left: -1.5em" src="{{ "assets/images/scribbles/Grasshopper1.png" | relative_url }}"></span>
				Grasshopper
				<span class="nonewline"><img class="annotated" src="{{ "assets/images/scribbles/Grasshopper2.png" | relative_url }}"></span>

			</h5>
			<img src="{{ "assets/images/menu-gh.gif" | relative_url }}">
		</div>
		<div class="col col-4-of-12 col-m-4-of-4 left">
			<h5>
				<span class="nonewline"><img class="annotated" style="margin-left: -.5em" src="{{ "assets/images/scribbles/Dynamo1.png" | relative_url }}"></span>
				DynamoStudio
				<span class="nonewline"><img class="annotated" src="{{ "assets/images/scribbles/Dynamo2.png" | relative_url }}"></span>

			</h5>
			<img src="{{ "assets/images/menu-dyn.gif" | relative_url }}">
		</div>
	</div>
</div>
