<div class="grid center m-hide ">
	<div class="row center">
		<div class="col action">
			<a href="https://github.com/voodoo-woodoo/voodoo-woodoo.github.io">
				<img id="gitbutton" src="{{ "assets/images/git_logo.svg" | relative_url }}">
				View me on GitHub
			</a>
		</div>
		<div class="col action">
			<a href="https://github.com/voodoo-woodoo/voodoo-woodoo.github.io">
				<img id="downloadbutton" src="{{ "assets/images/download_icon.svg" | relative_url }}">
				Download me
			</a>
		</div>
	</div>
</div>

<div class="nav center m-and-lower">
	<div class="grid center">
		<div class="row center">
			<div class="col col-1-of-1 col-m-2-of-2 col-s-2-of-2 center button">
				Design me
			</div>
		</div>
	</div>
</div>
<!-- 		<div class="logo">
			<img src="{{ "assets/images/bhom_pictogram01.svg" | relative_url }}">
		</div> -->
<!-- 			<a href="#intro"><li class="personify" id="I!">Hello!</li></a>
		<ul>
			<a href="#why"><li class="personify" id="WE!">Why was I created?</li></a>
			<a href="#how"><li class="personify" id="YOU!">How do I work?</li></a>
			<a href="#what"><li class="personify" id="IT!">What am I made of?</li></a>
			<li>---</li> 
			<li class="wikilinks"><a href="To A wiki to implement an adapter">Fancy creating your own adapter?</a></li>
			<li class="wikilinks"><a href="To a wiki to add a method">Or adding a method that you need?</a></li>
			<li class="wikilinks"><a href="To a wiki to add an object">Maybe your own object definition</a></li>
			<li class="wikilinks"><a href="To download the code_assistant">Actually, I just want to use it</a></li>
		</ul>
	-->