<div class="section" id="what">
	<div class="row">
		<div class="col col-8-of-12 col-m-4-of-4 center">
			<h4>
				More Design, Less Code
			</h4>
			<h3>
				A framework for continuous experimentation 
			</h3>

		</div>
	</div>



	<div class="row" style="margin-top: 50px;">
		<div class="col col-4-of-12 col-m-4-of-4 right">
			<div class="row">
				<div class="col">
					<h6>

						Push and Pull your favourite software
					</h6>
				</div>
				<div class="row">
					<p>
						Interop just got easier!
						<br>
						<br>
						Through a standard interface, the same objects can be dynamically pushed and pulled acrosss software.
					</p>
					<ul>
						<li>
							<a href="To A wiki to implement an adapter">
								> Try the script in the video. Download it here
							</a>
						</li>
						<li>
							<a href="To a wiki to add a method">
								> Find out more about BHoM_Adapters
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col col-4-of-12 col-m-4-of-4 left">
			<object style="min-height:100%; min-width: 100%" data="https://www.youtube.com/embed/l2heiNb_eXw">
			</object>
		</div>
	</div>


	<div class="row" style="margin-top: 50px;">
		<div class="col col-4-of-12 col-m-4-of-4 right">
			<div class="row">
				<div class="col">
					<h6>
						You can reuse objects, create new or extend on the fly
					</h6>
				</div>
				<div class="row">
					<p>
						Working together to build a common language is important. It can help build understanding as well increase our speed and efficiency. 
						<br>
						<br>
						But languages should not limit us. Any communication is not static.
						<br>
						<br>
						You can create new objects on the fly or change your mind mid-project appending new properties.
					</p>
					<ul>
						<li>
							<a href="To A wiki to implement an adapter">
								> Get this example here
							</a>
						</li>
						<li>
							<a href="To a wiki to add a method">
								> Add new objects
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col col-4-of-12 col-m-4-of-4 left">
			<object style="min-height:100%; min-width: 100%" data="https://www.youtube.com/embed/l2heiNb_eXw">
			</object>
		</div>
	</div>


	<div class="row" style="margin-top: 50px;">
		<div class="col col-4-of-12 col-m-4-of-4 right">
			<div class="row">
				<div class="col">
					<h6>
						Use your favourite interfaces for any kind of computation
					</h6>
				</div>
				<div class="row">
					<p>
						You can make specialist functionalities reviewable and accessible by all. distributed co craetion across various skill sets. 
						<br>
						<br>
						This means functionality can be injected on objects independently from the object definition itself.
					</p>
					<ul>
						<li>
							<a href="To A wiki to implement an adapter">
								> Dare building your own toolkit?
							</a>
						</li>
						<li>
							<a href="To a wiki to add a method">
								> Check the one we use in the example here
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col col-4-of-12 col-m-4-of-4 left">
			<object style="min-height:100%; min-width: 100%" data="https://www.youtube.com/embed/l2heiNb_eXw">
			</object>
		</div>
	</div>
</div>