<div class="row section" id="what">
	<div class="col col-9-of-12 col-m-4-of-4 center">
		<h2>
			More Design, Less Code
		</h2>
		<h3>
			A framework for continuous experimentation 
		</h3>

		<div class="row" style="margin-top: 50px;">
			<div class="col col-4-of-12 push-1-of-12 col-m-4-of-4">
				<div class="row">
					<div class="col push-m-1-of-8">
						<h6>
							<img class="cursor" src="{{ "assets/images/iconblock.svg" | relative_url }}">
							Push and Pull your favourite software
						</h6>
					</div>
					<div class="row">
						<h4 style="margin-top: 0px">
							Interop just got easier!
							<br>
							<br>
							Through a standard interface, the same objects can be dynamically pushed and pulled acrosss software.
						</h4>
					</div>
				</div>
				<div class="row m-and-lower">
					<div class="col w-auto col-m-4-of-4">
						<object style="width:100%;height:100%;" data="https://www.youtube.com/embed/l2heiNb_eXw">
						</object>
					</div>
				</div>
				<div class="row">
					<ul>
						<li>
							<a href="To A wiki to implement an adapter">
								Try the script in the video. Download it here
							</a>
						</li>
						<li>
							<a href="To a wiki to add a method">
								Find out more about BHoM_Adapters
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col w-auto col-m-4-of-4 m-hide">
				<object style="width:100%;height:100%;" data="https://www.youtube.com/embed/l2heiNb_eXw">
				</object>
			</div>
		</div>

		<div class="row" style="margin-top: 50px;">
			<div class="col col-4-of-12 push-1-of-12 col-m-4-of-4">
				<div class="row">
					<div class="col push-m-1-of-8">
						<h6>
							<img class="cursor" src="{{ "assets/images/iconblock.svg" | relative_url }}">
							You can reuse objects, create new or extend on the fly
						</h6>
					</div>
					<div class="row">
						<h4 style="margin-top: 0px">
							Working together to build a common language is important. It can help build understanding as well increase our speed and efficiency.
							<br>
							<br>
							But languages should not limit us. Any communication is not static.
							<br>
							<br>
							You can create new objects on the fly or change your mind mid-project appending new properties.
						</h4>
					</div>
				</div>
				<div class="row m-and-lower">
					<div class="col w-auto col-m-4-of-4">
						<object style="width:100%;height:100%;" data="https://www.youtube.com/embed/l2heiNb_eXw">
						</object>
					</div>
				</div>
				<div class="row">
					<ul>
						<li>
							<a href="To A wiki to implement an adapter">
								Get this example here
							</a>
						</li>
						<li>
							<a href="To a wiki to add a method">
								Add your new object
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col w-auto col-m-4-of-4 m-hide">
				<object style="width:100%;height:100%;" data="https://www.youtube.com/embed/K43-_zhQZiM">
				</object>
			</div>
		</div>

		<div class="row" style="margin-top: 50px;">
			<div class="col col-4-of-12 push-1-of-12 col-m-4-of-4">
				<div class="row">
					<div class="col push-m-1-of-8">
						<h6>
							<img class="cursor" src="{{ "assets/images/iconblock.svg" | relative_url }}">
							Use your favourite interfaces for any kind of computation
						</h6>
					</div>
					<div class="row">
						<h4 style="margin-top: 0px">
							You can make specialist functionalities reviewable and accessible by all. Distributed co craetion across various skill sets.
							<br>
							<br>
							This means functionality can be injected on objects independently from the object definition itself.
						</h4>
					</div>
				</div>
				<div class="row m-and-lower">
					<div class="col w-auto col-m-4-of-4">
						<object style="width:100%;height:100%;" data="https://www.youtube.com/embed/l2heiNb_eXw">
						</object>
					</div>
				</div>
				<div class="row">
					<ul>
						<li>
							<a href="To A wiki to implement an adapter">
								Dare building your own toolkit?
							</a>
						</li>
						<li>
							<a href="To a wiki to add a method">
								Check the one we use in the example here
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col w-auto col-m-4-of-4 m-hide">
				<object style="width:100%;height:100%;" data="https://www.youtube.com/embed/K43-_zhQZiM">
				</object>
			</div>
		</div>
	</div>
</div>