<div class="section" id="what">

 	<div class="row">	
 		<div class="col col-8-of-12 col-m-4-of-4 center">	
 			<h4>	
 				More Design, Less Code	
 			</h4>	
 			<h3>	
 				A framework for continuous experimentation 	
 			</h3>	
 
  		</div>	
 	</div>	
 
	

	<div class="row" style="margin-top: 50px;">
		<div class="col col-4-of-12 col-m-4-of-4 right">
			<div class="row">
				<div class="col nomargin-left">
					<h6>

						Parametrically control your favourite software
					</h6>
				</div>
				<div class="row">
					<p>
						Interop just got easier!
						
						Using a common interface, the same objects can be dynamically pushed and pulled across multiple software.
					</p>
					<ul>
						<li>
							<a href="https://github.com/BHoM/samples/tree/master/Structural_Adapters/Interop Revit Robot ETABS">
								<span class="fas fa-vial"></span>Try the sample script!
							</a>
						</li>
						<li>
							<a href="https://github.com/BHoM/documentation/wiki/Structural-Adapters">
								<span class="fab fa-wikipedia-w"></span> Learn more
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col col-4-of-12 col-m-4-of-4 left">
			<object style="min-height:100%; min-width: 100%" data="https://www.youtube.com/embed/5ii0lmobXE0" alt="interop video">
			</object>
		</div>
	</div>
    

	<div class="row" style="margin-top: 50px;">
		<div class="col col-4-of-12 col-m-4-of-4 right">
			<div class="row">
				<div class="col nomargin-left">
					<h6>
						Combine your tools
					</h6>
				</div>
				<div class="row">
					<p>
						Pick and mix user interfaces to match your workflow. Seamlessly transfer data as if in one single environment.
					</p>
					<ul>
						<li>
							<a href="https://github.com/BHoM/Socket_Toolkit/wiki">
								<span class="fab fa-wikipedia-w"></span> Find out how
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col col-4-of-12 col-m-4-of-4 left">
			<object style="min-height:100%; min-width: 100%" data="https://www.youtube.com/embed/_06QXY8pDGA" alt="UI video">
			</object>
		</div>
	</div>



    
    <div class="row" style="margin-top: 50px;">
		<div class="col col-4-of-12 col-m-4-of-4 right">
			<div class="row">
				<div class="col nomargin-left">
					<h6>
						Curated yet extendable
					</h6>
				</div>
				<div class="row">
					<p>
						Benefit from a community created object model.
                        <br>
                        <br>

                        Don't limit yourself though! If it's not there, extend or make your own.  
					</p>
					<ul>
						<li>
							<a href="https://github.com/BHoM/samples/tree/master/oM/CustomObjects Grasshopper">
								<span class="fas fa-vial"></span> Try the sample script!
							</a>
						</li>
						<li>
							<a href="https://github.com/BHoM/documentation/wiki/Using-the-BHoM">
								<span class="fab fa-wikipedia-w"></span> Learn more
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col col-4-of-12 col-m-4-of-4 left">
			<object style="min-height: 100%; min-width: 100%" data="https://www.youtube.com/embed/mc5j-mC5Q2M" alt="oM video">
			</object>
		</div>
	</div>
    </div>