<div class="row section" id="why">
	<div class="row">
		<div class="col right s-hide" style="margin-top: 19px;">
			<img class="cursor-logo" src="{{ "assets/images/bhom_pictogram_coral.svg" | relative_url }}" alt="logo">
		</div>
		<div class="col left col-5-of-12 col-m-12-of-12 w-fixed">
			<div class="col left s-and-lower" style="margin-left: 0px">
				<img class="cursor-logo" src="{{ "assets/images/bhom_pictogram_coral.svg" | relative_url }}" alt="logo">
			</div>
			<h2>
				Sustainable Code at Scale
			</h2>
			<h1>
				The Buildings and Habitats object Model
			</h1>
			<p style="margin-top: 40px;">
				A collaborative computational development project and collective experiment.
				<br>
				By sharing and co-creating code we can better shape our environment and our future.
				
			</p>
			<p class="black">
				<br>
				We want to <span><img class="circled" src="{{ "assets/images/scribbles/Ring.png" | relative_url }}" alt="circled">challenge</span> the way we design and work today.
				<br>
				<br>
				We want technology to be <span class="nonewline"><img class="underlined" src="{{ "assets/images/scribbles/Underline1.png" | relative_url }}" alt="underlined">open and accessible</span> for all.
				<br>
				<br>
				And we think that by working <span><img class="underlined" src="{{ "assets/images/scribbles/Underline2.png" | relative_url }}" alt="underline">together</span> we can solve harder more impactful problems for the world.
			</p>
			<br>
			<br>
			<br>
			<div class="row s-hide">
				<div class="col left" style="margin-left: 0px">
					<a class="button-link noborder" href="https://github.com/BHoM"><span class="fab fa-github x2"></span>View on GitHub</a>
				</div>
				<div class="col right">
					<a class="button-link noborder" href="{{ "installer" | relative_url }}"><span class="fas fa-arrow-down x2"></span><span class="new">New!</span> Download the 3.1.β.0 installer</a></button>
				</div>
			</div>
			<div class="row s-and-lower">
				<div class="col left">
					<a class="button-link noborder" href="https://github.com/BHoM"><span class="fab fa-github x2"></span>View on GitHub</a>
				</div>
				<div class="col s-and-lower left">
					<a class=" button-link noborder" href="{{ "installer" | relative_url }}"><span class="fas fa-arrow-down x2"></span><span class="new">New <span>Download the 3.1.β.0 installer!</span></a>
				</div>
			</div>
		</div>
	</div>
</div>