/***  Setup      **********************************/

$color-scheme: 'light';


/***  Variables  **********************************/
$h-color: #E72175;
$b-color: null;
$font_high: 'Zilla Slab';
$font_base: 'Open Sans';
$h-color-link: rgba(252, 51, 89, 0.35);
$back-color: null;

@if $color-scheme == 'light' {
  $b-color: #211218;
  $back-color: transparent;
}
@else if $color-scheme == 'dark' {
  $b-color: #eee;
  $back-color: #211218;
}


/***  Breakpoints  ********************************/

$break_s: 760px; /*min-width: 760px*/
$break_m: 1000px; /*min-width: 1000px*/
$break_l: 1400px; /*min-width: 1400px*/


/*** IDs  *****************************************/

#why {
  margin-top: 150px;
  margin-left: -5em;
}

@media screen and (min-width: $break_s) {
  #why div.w-fixed {
    width: 450px;
  }
}

@media screen and (min-width: $break_m) {
  #why div.w-fixed {
    width: 650px;
  }
}

#how {
  background-color: #F6F6F6;
  /*background-color: transparent;*/
  padding-top: 60px;
}

#what {
  margin-top: 0px;
}

/**************************************************/


html, body {
  font-family: $font_base, serif;
  background-color: $back-color;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  color: $b-color;
}


h1 {
  margin: 0px;
  font-family: $font_high, sans-serif; 
  font-weight: 900;
  font-size: 44px;
  font-size: 2.75rem;
  line-height: 52px;
  line-height: 3.25rem;
}

@media screen and (min-width: $break_s) {
  h1 {
    font-size: 44px;
    font-size: 2.75rem;
    line-height: 52px;
    line-height: 3.25rem;
  }
}

@media screen and (min-width: $break_m) {
  h1 {
    font-size: 64px;
    font-size: 4rem;
    line-height: 64px;
    line-height: 4rem;
  }
}


h2 {
  margin: 0px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem; 
}

@media screen and (min-width: $break_s) {
  h2 {
    font-size: 20px;
    font-size: 1.25em;
  }
}

@media screen and (min-width: $break_m) {
  h2 {
    font-size: 20px;
    font-size: 1.25em;
  }

}


h3 {
  font-family: $font_high;;
  font-weight: 900;
  font-size: 36px;
  margin: 0px;
}

@media screen and (min-width: $break_s) {
  h3 {
    font-size: 36px;
  }
}

@media screen and (min-width: $break_s) {
  h3 {
    font-size: 36px;
  }
}


h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

@media screen and (min-width: $break_s) {
  h4 {
    font-size: 18px;
  }
}

@media screen and (min-width: $break_m) {
  h4 {
    font-size: 18px;
  }

}


h5 {
  font-family: $font_high;
  margin-top: 50px;
  font-weight: 900;
  font-size: 18px;
  font-size: 1.125rem;
}

@media screen and (min-width: $break_s) {
  h5 {
    font-size: 22px;
    font-size: 1.375rem;
  }
}

@media screen and (min-width: $break_m) {
  h5 {
    font-size: 22px;
    font-size: 1.375rem;
  }
}




h6 {
  font-style: italic;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  border-left: 5px solid #000;
  padding-left: 20px;
  font-size: 28px;
  font-weight: 500;
}

@media screen and (max-width: 760px) {
  h6 {
    font-size: 1.5rem;
  }
}


p {
  font-weight: 500;
  font-size: 16px;
  font-size: 1rem; 

}

@media screen and (min-width: $break_m) {
  p {
    font-size: 16px;
    font-size: 1rem; 
    line-height: 28px;
    line-height: 1.7rem;
  }
}


hr {
  width: 50%;
  border-top: 1px solid #eee;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 10px solid transparent;
  display: inline-block;
  height: 2vmax;
  transition-duration: 0.2s;
  transition-delay: 0s;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
}

li {
  font-weight: 700;
}

li a {
  text-decoration: underline;
}

li a:hover {
  color: $h-color;
  transition-duration: .5s;
}

/**************************************************/

.grid {
  width: 100%;
  max-width: 100%;
}

.section {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-top: 7vmax;
  margin-bottom: 7vmax;
}

.dark {
  background-color: $b-color;
}

.dark * {
  color: #fff;
}

.border-left {
  margin-left: 0px;
  border-left: 2px solid #eee;
  padding-left: 10px;
}

.border-left:hover {
  border-left-color: $h-color;
}

.border-right {
  margin-right: 0px;
  border-right: 2px solid #eee;
  padding-right: 20px;
}

.border-right:hover {
  border-right-color: $h-color;
  transition-duration: 0.5s;
}

.cursor {
  position:absolute;
  margin-top: 0.2em;
  margin-left: -2.2em;
  font-size: 1em;
  height: 2.2em;
}

.cursor-logo {
  height: 8em;
  margin: 0px;
  margin-right: 1em;
}

/**************************************************/

.logo img {
  height: 6.25rem;
}

@media screen and (max-width: 760px) {
  .logo img {
    height: 4rem;
  }
}

/**************************************************/

.footer {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  font-face: $font_base;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}

.footer ul {
  list-style-type: none;
  padding: 0px;
}

.wikilinks a {
  text-decoration: none;
  height: 22px;
}


/*** Nav  *****************************/

.action-bar {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  font-weight: 700;
  height: 2vmax;
}

.action-bar a {
  height: 30px;
  border-bottom-width: 5px;
}

.action {
  margin: .5vmax;
}

.action:hover {
  transition-duration: 0.2s;
}

.action img {
  height: 30px;
  text-align: left;
  vertical-align: middle;
}

.action p {
  display: absolute;
  position: relative;
}

.action a {
  height: 20px;
  height: 1vmax;
}

/*** Scribbles  *****************************/

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #000;
}

.space {
  margin: 30px;
}

.circled {
  position: absolute;
  z-index: -1;
  max-height: 3em;
  max-width: 130%;
  transform: translate(-0.3em, -0.5em);
}

.underlined {
  position: absolute;
  z-index: -1;
  max-height: 1em;
  max-width: 100%;
  transform: translateY(1em);
}

/*** Scribbles  *****************************/



