/***  Setup      **********************************/

$color-scheme: 'light';


/***  Variables  **********************************/
$color_h: #E72175;
$color_b: null;
$font_high: 'Zilla Slab';
$font_base: 'Open Sans';
$color_h-link: rgba(252, 51, 89, 0.35);
$back-color: null;

@if $color-scheme == 'light' {
  $color_b: #211218;
  $back-color: transparent;
}
@else if $color-scheme == 'dark' {
  $color_b: #eee;
  $back-color: #211218;
}


/***  Breakpoints  ********************************/

$break_s: 760px; /*min-width: 760px*/
$break_m: 1000px; /*min-width: 1000px*/
$break_l: 1400px; /*min-width: 1400px*/


/*** IDs  *****************************************/

#why {
  margin-top: 150px;
  margin-left: -5em;
}

@media screen and (min-width: $break_s) {
  #why div.w-fixed {
    width: 450px;
  }
}

@media screen and (min-width: $break_m) {
  #why div.w-fixed {
    width: 650px;
  }
}

#how {
  background-color: #F6F6F6;
  /*background-color: transparent;*/
  padding-top: 60px;
  z-index: -5;
}

#what {
  margin-top: 0px;
}

#footer {
  background-color: #F6F6F6;
  padding-top: 60px;
  padding-bottom: 30px;
}

#footer h5 {
  margin-top: 0px;
}
/**************************************************/


html, body {
  font-family: $font_base, serif;
  background-color: $back-color;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  color: $color_b;
}


h1 {
  margin: 0px;
  font-family: $font_high, sans-serif; 
  font-weight: 900;
  font-size: 44px;
  font-size: 2.75rem;
  line-height: 52px;
  line-height: 3.25rem;
}

@media screen and (min-width: $break_s) {
  h1 {
    font-size: 44px;
    font-size: 2.75rem;
    line-height: 52px;
    line-height: 3.25rem;
  }
}

@media screen and (min-width: $break_m) {
  h1 {
    font-size: 64px;
    font-size: 4rem;
    line-height: 64px;
    line-height: 4rem;
  }
}


h2 {
  margin: 0px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem; 
}

@media screen and (min-width: $break_s) {
  h2 {
    font-size: 20px;
    font-size: 1.25em;
  }
}

@media screen and (min-width: $break_m) {
  h2 {
    font-size: 20px;
    font-size: 1.25em;
  }

}


h3 {
  font-family: $font_high;;
  font-weight: 900;
  font-size: 36px;
  margin: 0px;
}

@media screen and (min-width: $break_s) {
  h3 {
    font-size: 36px;
  }
}

@media screen and (min-width: $break_s) {
  h3 {
    font-size: 36px;
  }
}


h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

@media screen and (min-width: $break_s) {
  h4 {
    font-size: 18px;
  }
}

@media screen and (min-width: $break_m) {
  h4 {
    font-size: 18px;
  }

}


h5 {
  font-family: $font_high;
  margin-top: 50px;
  font-weight: 900;
  font-size: 18px;
  font-size: 1.125rem;
}

@media screen and (min-width: $break_s) {
  h5 {
    font-size: 22px;
    font-size: 1.375rem;
  }
}

@media screen and (min-width: $break_m) {
  h5 {
    font-size: 22px;
    font-size: 1.375rem;
  }
}




h6 {
  font-style: italic;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  border-left: 5px solid #000;
  padding-left: 20px;
  font-size: 28px;
  font-weight: 500;
}

@media screen and (max-width: 760px) {
  h6 {
    font-size: 1.5rem;
  }
}


p {
  font-weight: 500;
  font-size: 16px;
  font-size: 1rem; 

}

@media screen and (min-width: $break_m) {
  p {
    font-size: 16px;
    font-size: 1rem; 
    line-height: 28px;
    line-height: 1.7rem;
  }
}


hr {
  width: 50%;
  border-top: 1px solid #eee;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid $color_h;
  display: inline-block;
  transition-duration: 0.3s;
}

a:hover {
  color: $color_h;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
}

li {
  font-weight: 400;
  height: 1.5vmax;
}


/**************************************************/

.black {
  font-weight: 900;
}

.bold {
  font-weight: 700;
}

.grid {
  width: 100%;
  max-width: 100%;
}

.section {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-top: 7vmax;
  margin-bottom: 7vmax;
}

.dark {
  background-color: $color_b;
}

.dark * {
  color: #fff;
}

.border-left {
  border-left: 1px solid $color_h;
  padding-left: 10px;
}

.border-right {
  margin-right: 0px;
  border-right: 2px solid #eee;
  padding-right: 20px;
}

.cursor {
  position:absolute;
  margin-top: 0.2em;
  margin-left: -2.2em;
  font-size: 1em;
  height: 2.2em;
}

.cursor-logo {
  height: 5em;
  margin: 0px;
  margin-right: 1em;
}

@media screen and (min-width: $break_s) {
  .cursor-logo {
    height: 7.5em;
  }
}

@media screen and (min-width: $break_m) {
  .cursor-logo {
    height: 9em;
  }
}

/**************************************************/

.logo img {
  height: 6.25rem;
}

@media screen and (max-width: 760px) {
  .logo img {
    height: 4rem;
  }
}

/**************************************************/

.footer ul {
  list-style-type: none;
  padding: 0px;
}

.wikilinks a {
  text-decoration: none;
  height: 22px;
}

.copyright {
  font-size: 12px;
  height: 18px;
}

.fas, .fab, .fa {
  font-size: 1.5em !important;
  color: $color_h !important;
  text-decoration: none !important;
  margin-right: 10px !important;
}

.fas:hover, .fab:hover, .fa:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
  border: none;
}

.footer a.noborder {
  border: 0px solid transparent !important;
}

/*** Nav  *****************************/

.action-bar {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  font-weight: 700;
  height: 2vmax;
}

.action-bar a {
  height: 30px;
  border-bottom-width: 5px;
}

.action {
  margin: .5vmax;
}

.action:hover {
  transition-duration: 0.2s;
}

.action img {
  height: 30px;
  text-align: left;
  vertical-align: middle;
}

.action p {
  display: absolute;
  position: relative;
}

.action a {
  height: 20px;
  height: 1vmax;
}

/*** Scribbles  *****************************/

img {
  max-width: 100%;
  height: auto;
  border: 1px solid transparent;
}

.nonewline {
  overflow: hidden;
  white-space: nowrap;
  z-index: 5;
}

.space {
  margin: 30px;
}

.circled {
  position: absolute;
  z-index: -1;
  max-height: 1.8em;
  max-width: 110%;
  transform: translate(-0.4em, -0.3em);
}

.underlined {
  position: absolute;
  z-index: -1;
  max-height: 0.5em;
  max-width: 10em;
  transform: translateY(0.8em);
}

.annotated {
  position: absolute;
  z-index: -1;
  max-height: 2.5em;
  transform: translateY(-0.6em);
}

/*** Margins  *****************************/

.nomargin-left {
  margin-left: 0px;
}

.nopadding-left {
  padding-left: 0px;
}
