<div class="col-md-8 col-md-offset-1 ng-hide" ng-show="displayEngineMethod">
	<div class="row font-courier-prime">
		<div class="col-md-6">
			<h3 class="left-hand-header bhom-red">Engine</h3>
		</div>
		<div class="col-md-6 text-right">
			<p class="right-hand-header"><img src="img/main-logo.png" class="top-right-logo" /></p>
		</div>
	</div>

	<div class="row font-open-sans">
		<div class="col-md-12 pre-object-namespace"><span class="pre-object-namespace">{{currentMethod.namespace}}</span>.<span class="object-name">{{currentMethod.className}}</span></div>
		<div class="col-md-12 object-name">{{currentMethod.memberName}}</div>
		<div class="col-md-12 object-description">{{currentMethod.description}}</div>
		<div class="col-md-12 object-properties can-click font-bold font-zilla-slab margin-top-3" ng-click="displayMethodInputs(currentMethod)"><span class="fa {{currentMethod.displayInputs ? 'fa-times-circle' : 'fa-plus-circle'}}"></span> Inputs</div>
	</div>

	<div class="row method-table table-cell font-open-sans ng-hide" ng-show="currentMethod.displayInputs">
		<div class="method-table-row">
			<div class="col-xs-12 method-table-sub-row">
				<div class="row method-input-table-header hidden-xs dg-background">
					<div class="col-sm-3 table-cell-inner table-header">Name</div>
					<div class="col-sm-3 table-cell-inner table-header">Type</div>
					<div class="col-sm-2 table-cell-inner table-header">Is Required</div>
					<div class="col-sm-4 table-cell-inner table-header">Description</div>
				</div>

				<div class="row method-input-row lg-background" ng-repeat="y in currentMethod.inputs">
					<div class="col-sm-3 table-cell-inner">{{y.inputName}}</div>
					<div class="col-sm-3 table-cell-inner"><span class="can-click" ng-click="goToObject(y)">{{y.namespace}}.{{y.memberName}}</span></div>
					<div class="col-sm-2 table-cell-inner">{{y.isRequired}}</div>
					<div class="col-sm-4 table-cell-inner">{{y.description}}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row object-properties can-click font-bold font-zilla-slab margin-top-1" ng-click="displayMethodOutputs(currentMethod)">
		<div class="col-md-12">
			<span class="fa {{currentMethod.displayOutputs ? 'fa-times-circle' : 'fa-plus-circle'}}"></span> Outputs
		</div>
	</div>

	<div class="row method-table table-cell font-open-sans ng-hide" ng-show="currentMethod.displayOutputs">
		<div class="col-xs-12 method-table-sub-row">
			<div class="row method-input-table-header hidden-xs dg-background">
				<div class="col-sm-3 table-cell-inner table-header">Name</div>
				<div class="col-sm-3 table-cell-inner table-header">Type</div>
				<div class="col-sm-6 table-cell-inner table-header">Description</div>
			</div>

			<div class="row property-table-row method-input-row lg-background">
				<div class="col-sm-3 table-cell-inner">
					{{currentMethod.outputs.memberName}}
				</div>
				<div class="col-sm-3 table-cell-inner">
					{{currentMethod.outputs.namespace}}
				</div>
				<div class="col-sm-6 table-cell-inner">
					{{currentMethod.outputs.description}}
				</div>
			</div>
		</div>
	</div>

	<p class="version-info version-title font-open-sans">Assembly and Version Information</p>
	<p class="version-info font-open-sans">{{currentMethod.assemblyName}}</p>
	<p class="version-info font-open-sans">{{currentMethod.version}}</p>
</div>